name: CI-CD 2nd project

on:
  push:
    branches: [ main ]
  pull_request: 
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Setup python 3.5 
    - uses: actions/setup-python@v1
      with:
        python-verison: 3.5
    
    - name: Run make command
      run: make hello

    - name: Install dependencies
      run: make install
    
    - name: Lint with pylint
      run: make lint

    - name: Test with pytest
      run: make test
